<!-- Add List -->
<div>
  <div>
    <div>
      <input type="text" [(ngModel)]="newListName" placeholder="Add list name" />
    </div>
    <div>
      <button (click)="addNewList()">+</button>
    </div>
  </div>

  <!-- List -->
  <div *ngIf="taskLists.length">
    <div class="list-card" *ngFor="let taskList of taskLists; let listIndex = index;" (dragover)="dragover(listIndex)">
      <h1>{{taskList.name}}</h1>

      <!-- Task -->
      <div class="task-card" *ngFor="let task of taskList.tasks; let taskIndex = index;" draggable="true"
        id="{{task.name}}" (dragstart)="ondragstart(listIndex, taskIndex)" (dragend)="dragAndDropTask()"
        (dragleave)="onDragLeave(taskIndex)">
        {{task.name}}
      </div>

      <!-- Add Task  -->
      <div>
        <div>
          <input type="text" [(ngModel)]="taskList.newTaskName" placeholder="Add task name" />
        </div>
        <div>
          <button (click)="addNewTask(taskList)">+</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!taskLists.length">
    No Task List Found!
  </div>
</div>